In [1]:
import numpy as np
import pandas as pd

In [2]:
#1 Скачайте и ознакомьтесь с датасетом “ real_estate.csv”

df = pd.read_csv("real_estate.csv")
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [3]:
#2 Откройте данный датасет в Jupyter и выведите в консоль названия всех его столбцов
print(list(df.columns))

['No', 'X1 transaction date', 'X2 house age', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores', 'X5 latitude', 'X6 longitude', 'Y house price of unit area']

In [4]:
#3 Мы будем работать только со столбцами ['X2 house age', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores', 'Y house price of unit area']. 
sdf = df.loc[:, ['X2 house age', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores', 'Y house price of unit area']]
sdf.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area
0,32.0,84.87882,10,37.9
1,19.5,306.59470,9,42.2
2,13.3,561.98450,5,47.3
3,13.3,561.98450,5,54.8
4,5.0,390.56840,5,43.1

In [5]:
#4 Создайте переменную Х, которая содержит данные датасета без столбца ‘'Y house price of unit area’
x=sdf.drop('Y house price of unit area', axis=1)
x

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores
0,32.0,84.87882,10
1,19.5,306.59470,9
2,13.3,561.98450,5
3,13.3,561.98450,5
4,5.0,390.56840,5
...,...,...,...
409,13.7,4082.01500,0
410,5.6,90.45606,9
411,18.8,390.96960,7
412,8.1,104.81010,5
413,6.5,90.45606,9

In [6]:
#5 Создайте переменную y, которая содержит только данные столбца 'Y house price of unit area’
y=sdf['Y house price of unit area']
y

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: Y house price of unit area, Length: 414, dtype: float64

In [7]:
#6 Разделите датасеты Х и у на тренировочные и тестовые, где test_size будет равен 20%

from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size=0.2)

In [8]:
np.mean(ytrain), np.mean(ytest)

(36.97682926829268, 38.228012048192774)

In [9]:
np.mean(xtrain), np.mean(xtest)

C:\Users\ACER\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:3462: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
C:\Users\ACER\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:3462: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

(X2 house age                                17.903659
 X3 distance to the nearest MRT station    1108.369240
 X4 number of convenience stores              4.146341
 dtype: float64,
 X2 house age                                17.665361
 X3 distance to the nearest MRT station    1077.838547
 X4 number of convenience stores              4.081325
 dtype: float64)

In [13]:
#7 Обучите модель с помощью алгоритма LinearRegression

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(xtrain, ytrain)

LinearRegression()

In [19]:
#8 Выведите на экран коэффициенты, которые выбрала регрессионная модель
coef = pd.DataFrame(model.coef_, x.columns, columns=['Kоэффициенты'])
coef

                                        Kоэффициенты
X2 house age                               -0.219919
X3 distance to the nearest MRT station     -0.005304
X4 number of convenience stores             1.363241

In [20]:
#9 Сделайте прогноз на тестовых данных
predict = model.predict(xtest)
predict

array([40.04707797, 42.85945034, 28.97803305, 41.05037491,  5.09737246,
       28.04496841, 34.97789784, 27.21962888, 42.57136279, 32.53596587,
       47.83645378, 47.02526854, 45.12899916, 30.22630035, 32.96087222,
       29.0081312 , 42.09501134, 37.09721741, 31.8802606 , 38.43534177,
       41.06624201, 43.95244484, 46.93108766, 50.22929503, 42.81546659,
       45.83266517, 33.7896518 , 47.25863054, 51.1983237 , 45.395444  ,
       44.09395526, 40.9829865 , 35.90129728, 47.76589393, 46.42892944,
       43.36526347, 16.03063541, 32.84159874, 33.07721084, 40.15698732,
       32.67253655, 32.36408185, 51.69835456, 45.61945826, 38.80841547,
       44.47502033, 41.05037491, 51.52241956, 34.72594421, 35.33506821,
       39.54632503, 32.0561956 , 28.01933715, 37.74575475, 33.94247638,
       11.84760273, 42.48697421, 31.70295204, 40.5426288 , 38.85703051,
       42.9147787 , 35.37925172, 24.16722443, 13.82431015, 17.16757454,
       39.78909728, 16.44640104, 43.51518647, 16.45461843, 45.3295027 ,
       11.62576214, 15.90886248, 47.44601278, 32.96087222, 28.96414745,
       45.96461642, 32.31443789, 32.65054468, 41.98468029, 40.15698732,
       50.31931707, 31.20475999, 35.70962291, 42.42099858, 32.01044086,
       42.77148284, 32.02248788, 43.37806427, 42.50896609, 45.35149457,
       41.52553342, 35.09810386, 32.80465942, 42.22696259, 31.52619092,
       32.1693435 , 31.70295204, 37.73840221, 27.96756034, 50.94729972,
       45.68543388, 46.17658543, 49.48198942, 15.85470041, 47.76589393,
       49.61394067, 40.09268481, 37.46514866, 41.16887235, 15.88687061,
       31.12025176, 42.16826489, 42.85945034, 41.69149301, 38.71637303,
       41.45028938, 42.05102759, 45.440747  , 30.24878109, 37.88629226,
       46.82598155, 47.28532257, 49.63593255, 37.26242098, 15.81685404,
       32.36203672, 35.98438941, 34.06575904, 29.46595973, 42.92542596,
       45.75679112, 39.21263555, 36.08427014, 41.73446238, 40.44359514,
        4.26469578, 29.62158642, 42.1025355 , 35.83532166, 36.44358036,
       29.82551117, 43.41944967, 48.07326335, 43.32127972, 26.99573118,
       45.57269825, 42.81546659, 51.6117927 , 31.72494392, 25.30627776,
       30.38539312, 45.57547451, 46.77714453, 36.41469895, 48.05127148,
       38.6984561 , 31.52619092, 15.98665166,  6.29647174, 47.49508449,
       51.54441143, 42.88144221, 40.74529992, 30.24665036, 44.00189256,
       32.70132278, 39.15480012, 39.11706767, 44.23945132, 50.92535179,
       30.3708948 , 46.34096194, 43.170133  , 31.04091396, 41.40471309,
       43.19212488, 11.53814882, 46.20718033, 31.63105881, 31.83787035,
       42.35502296, 45.08501541, 40.15698732, 42.81546659, 46.97971052,
       34.80084571, 42.40275261, 47.08639326, 39.10267617, 29.13197618,
       40.20454141, 27.97586229, 31.79171349, 42.64729512, 37.02967136,
       43.38529658, 41.40471309, 35.91075381, 44.19233196, 45.08501541,
       46.98128479, 34.38634059, 38.67238928, 27.13166138, 11.47217319,
       30.54061476, 43.97930247, 51.01331929, 45.11281921, 43.93507573,
       41.31058176, 32.93888034, 46.89331729, 31.83569724, 38.81304676,
       41.05037491, 31.90176108, 27.76883947, 33.3984689 , 40.15698732,
       30.79424114, 45.78878376, 18.83502181, 47.76589393, 27.68087197,
       45.53149076,  6.34045549, 28.01308904, 47.76589393,  1.782371  ,
       17.79160874, 31.54320204, 43.46172616, 37.701771  , 31.05652987,
       44.6367077 , 31.85768912, 39.05672615, 42.00947606, 21.70274287,
       46.37721518, 44.74156053, 32.71669192, 37.5342348 , 33.8365333 ,
       45.87929958, 47.07454198, 41.18583041, 45.64145013, 45.89527189,
       40.89548754, 42.35502296, 42.6880596 , 48.29152687, 47.87755054,
       51.47843581, 38.78892877, 29.47231762, 48.05127148, 42.42099858,
       45.75524867, 32.93212464, 32.76050406, 43.33408052, 32.03243274,
       29.90677537, 45.75836645, 29.53193535, 22.53960535, 32.82665129,
       30.85182183, 51.47843581, 32.65054468, 42.44299046, 30.51029003,
       45.68543388, 44.69757678, 13.13864232, 30.87164407, 37.51224293,
       51.6117927 , 51.67636268, 32.60656093, 44.78554428, 16.45461843,
       13.39561343, 11.38957811, 34.39451072, 43.33015993, 48.42453431,
       33.23586065, 37.75981248, 43.56702817, 42.6964067 , 32.13244726,
       42.05102759, 38.72507925, 42.37002013, 42.35502296, 48.05127148,
       16.49860218, 40.00926545, 36.34346926, 48.21465108, 31.72352394,
       51.52241956, 37.62786122, 31.04091396, 28.18941505, 43.97462872,
       43.64567134, 37.76498313, 46.1074193 , 42.85945034, 15.75087842,
       37.57549768, 33.93666657, 50.30877712, 45.19192937, 11.9172637 ,
       30.33428665, 38.07309136, 32.58456905, 41.9045466 , 38.90123833,
       51.50042768, 26.00483899, 41.28858988, 36.98568761, 31.26622377,
       15.85470041, 32.05676405])

In [21]:
#9.1 Cоздайте таблицу, в которой будет отображена разница между фактическим значением и прогнозируемым значением.

df = pd.DataFrame({'фактическим значение': ytest, 'прогнозируемым значение': predict})
df

     фактическим значение  прогнозируемым значение
104                  30.5                40.047078
305                  55.0                42.859450
277                  27.7                28.978033
373                  52.2                41.050375
249                  15.0                 5.097372
..                    ...                      ...
287                  32.9                41.288590
191                  37.8                36.985688
118                  30.6                31.266224
87                   18.3                15.854700
22                   24.6                32.056764

[332 rows x 2 columns]

In [22]:
#10 Оцените производительность алгоритма путем нахождения значения MSE
from sklearn import metrics
print("Mean Squared Error(MSE): ", metrics.mean_squared_error(ytest, predict))

Mean Squared Error(MSE):  92.65182087037219