In [1]:
%matplotlib inline
import seaborn as sns

In [2]:
geyser = sns.load_dataset('geyser')
geyser.head()

   duration  waiting   kind
0     3.600       79   long
1     1.800       54  short
2     3.333       74   long
3     2.283       62  short
4     4.533       85   long

In [3]:
x_geyser = geyser.drop('kind', axis=1)
x_geyser

     duration  waiting
0       3.600       79
1       1.800       54
2       3.333       74
3       2.283       62
4       4.533       85
..        ...      ...
267     4.117       81
268     2.150       46
269     4.417       90
270     1.817       46
271     4.467       74

[272 rows x 2 columns]

In [4]:
y_geyser = geyser['kind']
y_geyser

0       long
1      short
2       long
3      short
4       long
       ...
267     long
268    short
269     long
270    short
271     long
Name: kind, Length: 272, dtype: object

In [5]:
from sklearn.model_selection import train_test_split

In [19]:
xtrain, xtest, ytrain, ytest = train_test_split(x_geyser, y_geyser, random_state=1)
xtrain

     duration  waiting
187     1.833       46
132     2.800       56
48      4.633       82
168     1.933       52
33      4.033       80
..        ...      ...
203     1.867       53
255     3.817       80
72      4.500       79
235     1.883       54
37      4.833       80

[204 rows x 2 columns]

In [22]:
xtrain, xtest, ytrain, ytest = train_test_split(x_geyser, y_geyser, random_state=1)
xtest

     duration  waiting
214     3.417       64
79      3.600       83
231     2.417       54
110     4.733       75
11      3.917       84
..        ...      ...
159     3.967       89
148     5.100       96
31      4.467       77
264     1.983       43
205     1.783       46

[68 rows x 2 columns]

In [24]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [25]:
model.fit(xtrain, ytrain)

GaussianNB()

In [26]:
y_model=model.predict(xtest)

In [27]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest, y_model)

0.9852941176470589